

*{
  box-sizing: border-box;
}
li{
  list-style-type: none;

}
body,html{
  margin: 0;
  padding: 0;
  background: #fff;
}
.titre{
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;

  color:orange
}

#menuPrincipal{
  a{
  text-align: center;
    text-decoration: none;
    color:#fff;
width: 100%;

  }
      background:#000;
      height: 100%;
.hightlight{
  margin:5% 0;
  &:hover{
    background-color: orange;
  }
}
}
.main{
  position: relative;
  top:52.5rem;
  ul{
    padding: 0;
    margin-bottom: 3em;
    margin-left: 10%;
    li{
      list-style-type: none;
    }
    a{
      text-decoration: none;
    //  color:#fff;
    }
  }
}
#contentMain{
  margin-bottom: 1em;
aside{
width: 100%;
  background-color: #fff;
  padding: 1em;
  .menuHeader{
    max-width: 25%;
    display: inline-block;
    div,ul{

        display: inline-block;

    }
  }
  h1{
    color:#1408B4;

margin: 0;
    display: inline-block;

    span{
      color: #FF6500;
    }
  }
  button{

    padding: 1em;
    border: none;
    color: #fff;
    margin-right: .5em;
    a{
      color:#fff;
      text-decoration: none;
    }
    &:nth-of-type(1){
      margin-right: 5%;
      background: #1408B4;
    }
    &:nth-of-type(2){
      background: #FF6500;
    }
  }
}
  background-image: url(../../../images/header.jpg) ;
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: 50% 70%;
  min-height:60em;
  max-height: 60em;
  width: 100%;
position: relative;
  #titrePrincipal{
    position: absolute;
    right: 1%;
    color:#fff;
    background-color: #FF6500;

    padding: 1em;

    top: 12rem;

    text-align: center;
  }
}

@media screen and (min-width:768px){
    #titrePrincipal{
      width: 30%;
      font-size: 2em;
        top: 30rem;
    }

    h1{
font-size: 2em;
          width: 50%;
    }
}
@media screen and (min-width:992px){
  h1{

    font-size: 2em;
  }
}
@media screen and (max-width:768px){


  .menuPrincipal{
    width:100%;
  }
}

@media screen and (max-width:356px){
  aside{
    button{
      display: none;
    }
  }
  h1{
    width: 100%;
    font-size: 1em;
  }


.displayNone{
  display: none;
}

.column{
  display: "flex";
  flex-direction: "column";
}




}

@media screen and (min-width:550px){
h1{
  font-size: 1.5em
}
}

@media screen and (max-width:768px){
  .menu{
width: 100%;

    ul{
  width: 100%;
      padding: 0;
      margin: 0;
    }
  ul{
    background: #000;
  }
  ul,li{
      width: 100%;
  }
    li,a,ul{
      display:block;

    }
    a{
      padding: .5em;
      color:#fff;

    }
    li{
      text-align: center;
  &:hover{
    background: orange;
  }
  box-sizing: border-box;
    padding: .5em;
    a:hover{
    filter: brightness(.5);
    }
    }
}
}

@media screen and(max-width:560px){
  aside{
    button{
      display: none;
    }
  }
}
