.titre{
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  //padding-left: 10%;
  color:orange
}

.CodeMirror-scroll{
  background-color: #1d1e22;
  color:#fff;


}
.react-codemirror2{
@media screen and( min-width: 992px){
  font-size: 1.4em;
}
@media screen and( max-width: 480px){
  font-size: 1em;
}

@media screen and( min-width: 480px){
  font-size: 1.4em;
}

}
.CodeMirror{
  min-height: 30rem;
}

button{
  background: #1976d2;
  color:#fff;
  border:none;
  border-radius: 5%;
  border:solid 1px gray;
  padding: .5em;
  &:hover{
    filter: brightness(0.9);
  }
}
.displayNone{
  display: none;
}
